* {
  font-family: "Open Sans", sans-serif;
}

div#app {
  max-width: max-content;
}

/* header start */
div.head {
  display: flex;
  padding: 0.1em;
  flex-direction: row;
  justify-content: space-between;
}
div.head > div {
  font-weight: 600;
  flex: 1;
  padding: 0.5em 1em;
  background-color: slategray;
  text-align: center;
}
div.head > div:hover {
  background-color: lightgray;
  cursor: pointer;
}
/* header end*/

/* remove later if this is not used anymore
div#cal {
  height: 300px;
  width: 300px;
}
*/

div.current {
  background-color: slategray;
  border-radius: 0.5em;
  padding: 0.2em;
}

div.current > div {
  font-size: 2em;
}

/* Table start */
table,
th,
td {
  border: 0.1em solid black;
  border-collapse: collapse;
}
table {
  width: 640px;
}
th {
  height: 2em;
  background-color: slategray;
}

th,
td {
  padding: 0.3em;
}

thead.history {
  cursor: not-allowed;
}
th#humidity {
  min-width: 100px;
}
th#temp {
  min-width: 100px;
}
th#timestamp {
  min-width: 300px;
}

th:hover {
  background-color: lightgray;
}

tr:hover {
  background-color: lightgray;
}
/* Table end*/

/* Input controls start*/
button {
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  transition-duration: 300ms;
}
button:hover {
  cursor: pointer;
  background-color: gray;
}
input,
option,
select {
  padding: 0.3em;
  border-radius: 0.3em;
}
.react-date-picker,
.react-daterange-picker,
input,
button,
option,
select {
  background-color: whitesmoke;
}
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: white;
}
/* Input controls end*/
