body {
  background-color: lightgray;
}
div#root {
  background-color: darkgray;
  border-radius: 0.3em;
  padding: 0.5em;
  width: 640px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}
